In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
            .master("local[2]") \
            .config('spark.shuffle.useOldFetchProtocol', 'true') \
            .getOrCreate()

24/12/31 11:49:28 WARN Utils: Your hostname, Vishnus-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
24/12/31 11:49:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/31 11:49:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.stop()

In [12]:
customers_schema = "customer_id int,customer_fname string,customer_lname string,username string,password string,address string,city string,state string,pincode string"

In [15]:
customers_df = spark.read.format("csv").option("header",True).schema(customers_schema).load("/Users/avvishnuvardhanreddy/Documents/My_Learning/Personal/Big_data_trendytech/retail_pyspark_project/data/customers.csv")

In [16]:
customers_df.show()

+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|customer_id|customer_fname|customer_lname| username| password|             address|         city|state|pincode|
+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|          1|       Richard|     Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|          2|          Mary|       Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|          3|           Ann|         Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|  00725|
|          4|          Mary|         Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|          5|        Robert|        Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|  00725|
|          6|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|  07055|
|          7|       Melissa|        Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|  00725|
|          8|         Megan|         Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence|   MA|  01841|
|          9|          Mary|         Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas|   PR|  00725|
|         10|       Melissa|         Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|         11|          Mary|       Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|  00725|
|         12|   Christopher|         Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|         13|          Mary|       Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|  00725|
|         14|     Katherine|         Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|         15|          Jane|          Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|         16|       Tiffany|         Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|  00725|
|         17|          Mary|      Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|         18|        Robert|         Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|         19|     Stephanie|      Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|  00725|
|         20|          Mary|         Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|  07093|
+-----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [17]:
cust_state_agg_df =customers_df.groupBy("state").count()

In [18]:
cust_state_agg_df.show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|  213|
|   SC|   41|
|   LA|   63|
|   MN|   39|
|   NJ|  219|
|   DC|   42|
|   OR|  119|
|   VA|  136|
|   RI|   15|
|   KY|   35|
|   MI|  254|
|   NV|  103|
|   WI|   64|
|   ID|    9|
|   CA| 2012|
|   CT|   73|
|   MT|    7|
|   NC|  150|
|   MD|  164|
|   DE|   23|
+-----+-----+
only showing top 20 rows

In [20]:
cust_state_agg_df.rdd.getNumPartitions()

1

In [21]:
cust_state_agg_df.write.format("csv").option("header",True).option("mode","overwrite").option("path","data/expected_results").save()

24/12/30 22:44:22 WARN ParseMode: overwrite is not a valid parse mode. Using PERMISSIVE.

In [1]:
spark

NameError: name 'spark' is not defined